{# version=DEVEL #}
{# Use Network installation media #}
url --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=fedora-34&arch=x86_64
repo --name="updates" --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=updates-released-f34&arch=x86_64
repo --name="fedora-modular" --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=fedora-modular-34&arch=x86_64
repo --name="updates-modular" --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=updates-released-modular-f34&arch=x86_64
{# local repos #}
{% if local_repo_url is defined %}
repo --name="local-fedora" --baseurl={{ local_repo_url }}/Fedora/linux/releases/34/Fedora/x86_64/os/ --cost=1
repo --name="local-updates" --baseurl={{ local_repo_url }}/Fedora/linux/updates/34/x86_64/ --cost=1
{% endif %}
{# Keyboard layouts #}
keyboard --xlayouts='us'
{# System language #}
lang en_US.UTF-8
{# Network information #}
network --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network --hostname=localhost.localdomain
{# Root password #}
rootpw --iscrypted {{ root_password | password_hash('sha512') }}
{# Do NOT Run the Setup Agent on first boot #}
firstboot --disable
{# Do not ask for confirmation #}
cmdline
{# accept eula #}
eula --agreed
{# reboot or poweroff after installation #}
reboot
{# System timezone #}
timezone Europe/Amsterdam --utc --nontp
{# Partition clearing information #}
ignoredisk --only-use=sda
clearpart --none --initlabel
{# Disk partitioning information #}
{# to reduce image size no swap #}
{# to simplefy the image only a /boot and / partition #}
autopart --type=btrfs
{# System bootloader configuration#}
bootloader --append="no_timer_check console=tty1 console=ttyS0,115200n8 net.ifnames=0" --location=mbr --timeout=1 --boot-drive=sda
{# services #}
services --enabled=cloud-init,cloud-init-local,cloud-final,cloud-config
{# package selection #}
%packages --excludedocs
#@^minimal-environment
@cloud-server
@core
kernel-core
qemu-guest-agent
-dracut-config-rescue
-firewalld
-geolite2-city
-geolite2-country
-kernel
-plymount
-zram-generator-defaults
kexec-tools
%end
%addon com_redhat_kdump --disable --reserve-mb='128'
%end
%post --erroronfail
echo "ensure boot is verbose"
sed -i 's/ rhgb quiet//' /etc/default/grub
[ -e /boot/grub2/grub.cgf ] && sed -i 's/ rhgb quiet//' /boot/grub2/grub.cgf
[ -e /boot/grub2/grubenv ] && sed -i 's/ rhgb quiet//' /boot/grub2/grubenv
# do not allow qemu guest agent rpc commands in production
# enabling them here for dynamic libvirt inventory lab use
# echo "allow qemu guest agent rpc commands"
# sed -i 's/^BLACKLIST_RPC/#BLACKLIST_RPC/' /etc/sysconfig/qemu-ga
%end
