#cloud-config
{# line 1 is a shebang, do not remove or alter it #}
preserve_hostname: False
hostname: {{ guest['key'].split('.')[0] }}
fqdn: {{ guest['key'] }}
ssh_pwauth: True
users:
  - name: root
    passwd: {{ guests[guest['key']]['guest_def']['root_password'] | default(root_password) | password_hash('sha512') }}
    lock_passwd: False
    ssh_authorized_keys:
      - {{ guests[guest['key']]['guest_def']['root_pubkey'] | default(root_pubkey) }}
